/* Typography */
h1 {font-family: 'Ropa Sans', sans-serif;}
h2, h3, h4, h5, h6, body {font-family: 'Josefin Sans', sans-serif;}

input {border: none; line-height: 50px; border-radius: 50px; box-shadow: 0 0 3px gray;}
select {-webkit-appearance: none; height: 50px;}
textarea {border-radius: 20px; padding: 10px;}

/* Nav */
nav {height: calc(100% - 20px); display: none; width: 70%; position: fixed; z-index: 20; padding-top: 20px; top: 0; left: 0; background-color: #2d2e2e; overflow-x: hidden; overflow: hidden; opacity: 0.95;}
nav ul {margin: 0 20px; padding: 0; list-style: none;}
nav ul ul {display: none; margin: 0; margin-left: 8px;}
nav ul ul a {color: #c5c2c3;}
nav ul ul li a {font-size: 16px;}

nav li {background: left no-repeat;}
nav li a {font-size: 20px;}
nav li.journeyplanner {background-image: url('../assets/icon-jp-red.svg');}
nav li.photomap {background-image: url('../assets/icon-photomap-red.svg');}
nav li.places {background-image: url('../assets/icon-places-red.svg');}
nav li.ridetracker {background-image: url('../assets/icon-ride-track-red.svg');}
nav li.data {background-image: url('../assets/icon-data-red.svg'); background-position: 0 8px;}
nav li.enabled a {background: url('../assets/icon-view-pass-on-16x16.svg') right no-repeat;}

nav a {padding: 12px 38px; text-decoration: none; color: #fbf6f8; display: block; transition: 0.3s;}
nav a:hover {color: #cc5959;}

nav hr {color: #b1afb1; margin-left: 0; width: 50%;}

nav #secondary-menu li a {font-size: 16px; color: #c5c2c3;}
nav .badge-row {display: flex;}
nav .text-column {width: 80%;}
nav .badge-column {width: 20%;}
nav .blog-badge {position: relative; margin: 0; padding: 0;}
nav .blog-badge[data-badge]:after {content: attr(data-badge); position: absolute; right: 20px; font-size: .7em; background: #cc5959; color: white; width: 18px; height: 18px; text-align: center; line-height: 18px; border-radius: 50%; box-shadow: 0 0 1px #333;}

nav #nav-footer {position: absolute; bottom: 0; height: 50px; width: 100%; padding: 10px; background-color: #212323; color: #b1afb1;}
nav #nav-footer .cyclestreets-logo {float: left; width: 50px; height: 50px;}
nav #nav-footer h6, p {margin: 0 0 0 40px;}
nav #nav-footer .logo-text {padding: 6px 0 5px 20px; color: #e1dde0; font-size: 18px; font-weight: bold; font-variant: small-caps;}
nav #nav-footer .logo-description {padding: 0 0 5px 20px; font-size: 9px; font-weight: lighter;}

#map {position:absolute; top:0; bottom:0; left: 0; width:100%;}

/* UI icons and input boxes */
.ui-button {display: block; position: fixed; width: 50px; height: 50px; line-height: 50px; border: 0 solid #f5f5f5; border-radius: 50%; background: #f5f5f5; text-align: center; box-shadow: 0 0 3px gray;}
.ui-button-large {width: 65px; height: 65px; background: #cc5959;}

.padded {padding: 0 20px 20px 20px;}

#hamburger-menu {top: 20px; left: 20px;}
#location-icon {top: 40px; right: 30px; line-height: 64px;}
#location-icon img {margin-right: 4px;}
#glasses-icon {top: 110px; right: 30px; line-height: 53px;}
#browse-search-box {display: none; position: fixed; top: 110px; right: 30px; width: 50px; height: 50px; background: #f5f5f5;}
#browse-search-box.open {display: block; padding-left: 5%; border-radius: 25px;}
#close-browse-box-icon {display: none; top: 110px; right: 30px; z-index: 1; line-height: 60px;}

.panel {position: fixed; bottom: 0; left: 0; width: calc(100% - 40px); padding: 20px; background-color: #fbf6f8; transition: 0.5s;}
.handle {position: absolute; top: -8px; width: 40%; margin: 0 calc(30% - 20px); transition: 0.5s;}
.popup {display: none; position: fixed; bottom: 20%; width: 90%; height: 400px; margin-left: 5%; margin-right: 5%; border-radius: 20px; overflow-x: hidden; background-color: #fbf6f8;}
.popup img.popup-photo {height: 85%;}
.popup a {float: left; margin: 15px; line-height: 30px; color: #dc4f55; text-decoration: none;}
.popup a.right {float: right;}
.popup #popup-close-button {position: absolute; top: 0; right: 0; margin: 10px; line-height: 60px;}

a.back-action {float: left; color: #dc4f55; text-decoration: none;}
a.forward-action {float: right; color: #dc4f55; text-decoration: none;}
h2 {display: inline; width: 80%; margin: 10px; text-align: center; font-variant: small-caps;}
ul li select {display: inline-block; padding: 0 20px; margin: 2px 10px; width: 52%; border-radius: 25px; text-align: left; text-decoration: none; background: #DC4F55; color: #f5f5f5;}

.switch {position: relative; float: right; display: inline-block; width: 60px; height: 34px;}
.switch input {opacity: 0; width: 0; height: 0;}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
.slider:before {position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s;}
input:checked + .slider {background-color: #2196f3;}
input:focus + .slider {box-shadow: 0 0 1px #2196f3;}
input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}

#route-search-panel {height: 80px; padding: 0; width: 100%;}
#route-search-panel.open {height: 75%;}
#route-box-handle.handle {margin: 0 30%;}
#route-search-box {position: relative; bottom: 5px; height: 50px; width: 80%; margin: 20px 5%; padding: 0 20px; border: 0; transition: 0.5s;}
#route-search-box.open {top: 0;}

#shortcut-icons {list-style-type: none; width: 1500px; padding: 0; margin: 0 0 0 20px;}
#shortcut-icons {display: none;}
#shortcut-icons.visible {display: inline-block; overflow-x: scroll;}
#shortcut-icons li a {position: relative; float: left; line-height: 60px; margin: 5px; background: #cc5959; color: #f5f5f5;}
#route-search-panel ul.segmented-control {display: none; width: 80%; margin: 10px 7.5%; padding: 0;}
#route-search-panel ul.segmented-control.visible {display: table;}
#route-search-panel ul.segmented-control li {display: table-cell; margin: 0; padding: 0; color: #cc5959; list-style-type: none;}
#route-search-panel ul.segmented-control li:first-child label {border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
#route-search-panel ul.segmented-control li:last-child label {border-top-right-radius: 30px; border-bottom-right-radius: 30px;}
#route-search-panel ul.segmented-control li.active label {color: #f5f5f5; background-color: #cc5959;}
#route-search-panel ul.segmented-control label {display: block; margin: 0 -1px -1px 0; padding: 1em .25em; border: 1px solid #ddd; text-align: center; cursor: pointer;}
#route-search-panel ul.segmented-control label:hover {background: #fafafa;}
#route-search-panel hr {margin: 10px 0; width: 100%;}

#recent-journeys {margin: 0; padding: 0;}
#recent-journeys li {padding-left: 20px; width: 80%; list-style-type: none;}
#recent-journeys li p {margin: 10px 0;}
#recent-journeys li p.destination {display: inline; font-size: 16px; line-height: 19px;}
#recent-journeys li p.address {width: 320px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
#recent-journeys li p.distance {float: right; padding: 0 0 0 20px; background: left no-repeat; background-image: url('../assets/icon-cyclist-small.svg');} 
#recent-journeys li p.distance, p.address {font-size: 14px; line-height: 16px; color: #8e8c8c;}
#recent-journeys li a {position: absolute; right: 0px;}

#photomap-panel {display: none; height: 275px;}
#photomap-panel h2 {padding: 0 0 0 32%;}
#photomap-panel ul {margin: 0; padding: 0;}
#photomap-panel ul li {list-style-type: none; width: 100%;}
#photomap-panel ul li label {display: inline-block; width: 30%;}
#photomap-panel p {display: inline; margin: 0; line-height: 35px;}

#photomap-add-location-panel {display: none; height: 400px;}
#photomap-add-location-panel h2 {padding-left: 28%; margin: 0; width: 30px;}
#photomap-add-location-panel p {margin: 10px;}
#mini-map {height: 335px; width:100%;}

#photomap-add-details-panel {display: none; padding: 0; padding-top: 20px; width: 100%; height: 80%;}
#photomap-add-details-panel h2 {margin-left: 80px;}
#photomap-add-details-panel img.handle {margin: 0 18%;}
#photomap-add-details-panel ul {margin: 0; padding: 20px;}
#photomap-add-details-panel textarea {display: inline-block; height: 50px; width: 65%;}
#photomap-add-details-panel ul li {list-style-type: none; width: 100%;}
#photomap-add-details-panel ul li select {margin: 0; width: 73%;}
#photomap-add-details-panel ul li label {display: inline-block; width: 25%;}

#photomap-uploading-panel {display: none; height: 250px; background-color: #dc4f55;}
#photomap-uploading-panel img.wheel {margin-left: 15px; padding: 0 30%; width: 40%;}
#photomap-uploading-panel p {margin: 10px 30%; color:#fbf6f8; text-align: center;}
#photomap-uploading-panel progress {margin: 10px 30%; width: 40%;}
#photomap-uploading-panel a {display: block; margin: 10px 30%; color: #c4c1c2; text-align: center; text-decoration: none;}

#places-panel {display: none; height: 350px;}
#places-panel img.handle {margin: 0 23%;}
#places-panel h2 {display: inline-block; width: 80%; margin: 0 10% 10px; text-align: center;}
#places-panel ul {margin: 0; padding: 0; overflow-y: scroll;}
#places-panel ul li { display: inline-block; height: 90px; width: 80px; margin: 0 15px 15px 0; vertical-align: top; list-style: none;}
#places-panel ul li a {display: inline-block; width: 65px; height: 65px; margin: 2px; border: 1px solid #dc4f55; border-radius: 50%; background: #f5f5f5; color: #212322; text-decoration: none; text-align: center; box-shadow: 0 0 3px gray;}
#places-panel ul li a img {display: block; padding: 15px;}
#places-panel ul li a span {display: inline-block; text-align: center; word-wrap:normal; font-size: 13px; margin-top: 10px;}

#create-account-panel {display: none; height: 100px;}
#create-account-panel .disabled {display: none;}
#create-account-panel h2 {display: inline; width: 80%; margin: 0 0 0 26% ; text-align: center;}
#create-account-panel p {margin: 10px 0; text-align: left;}
#create-account-panel input {margin: 5px calc(10% - 20px); height: 40px; width: 80%; border: 0; padding: 0 10px; background-color: #ede9ea;}
#create-account-panel.open {height: 150px;}

#creating-account-panel {display: none; height: 250px; background-color: #dc4f55;}
#creating-account-panel h1, #creating-account-panel h2 {display: inline-block; width: 60%; margin: 10px 20%; text-align: center; color: #fbf6f8; font-size: 14px}
#creating-account-panel h1 {font-size: 32px;}
#creating-account-panel img.wheel {margin-left: 15px; padding: 0 30%; width: 40%;}
#creating-account-panel p {width: 60%; margin: 0 20%; text-align: center; color: #fbf6f8;}

#sign-in-panel {display: none; height: 450px; padding: 0; width: 100%;}
#sign-in-panel .handle {margin: 0 8%;}
#sign-in-panel h2 {display: inline; width: 100px; margin: 0 0 0 18%; line-height: 50px; text-align: center;}
#sign-in-panel input {margin: 5px calc(10% - 20px); height: 40px; width: 80%; border: 0; padding: 0 10px; background-color: #ede9ea;}
#sign-in-panel a {display: block; color: #dc4f55; text-decoration: none; margin: 20px;}
#sign-in-panel h3 {width: 100%; line-height: 50px; text-align: center; margin-bottom: 0;}
#sign-in-panel p {margin: 0 20px; padding: 0; text-align: left;}
#sign-in-panel .ui-button-large {width: 200px; height: 50px; margin: 15px 25%; border-radius: 50px; color: #fbf6f8; line-height: 50px;}

#map-style-panel.panel {display: none; padding: 0; margin: 0; width: 100%;}
#map-style-panel h2 {display: inline; width: 100px; margin: 0 0 0 34%; line-height: 50px; text-align: center;}
#map-style-panel #map-style-done {margin: 20px;}
#map-style-panel p {width: calc(100% - 70px); line-height: 50px; text-align: center; margin-bottom: 0;}
#map-style-panel ul {width: 100%; margin: 0; padding: 0; overflow-x: scroll; overflow-y: hidden; white-space: nowrap;}
#map-style-panel ul li {display: inline; list-style-type: none; width: 100%;}

#settings-panel {display: none; height: 630px; padding: 0; width: 100%;}
#settings-panel img.handle {margin: 0 30%;}
#settings-panel h2 {display: inline; width: 100px; margin: 0 0 0 38%; line-height: 50px; text-align: center;}
#settings-panel a.forward-action {padding: 20px;}
#settings-panel h3 {width: 100%; text-align: center; margin: 10px 0 0 0;}
#settings-panel hr {margin: 15px 0;}
#settings-panel ul {padding: 10px; margin: 0;}
#settings-panel ul li {list-style-type: none;}
#settings-panel ul li img {display: inline; padding: 10px;}
#settings-panel ul li a {display: inline; color: #dc4f55; text-decoration: none;}
#settings-panel ul li a.ui-button-large {width: 250px; margin-left: 20px; padding: 0 15px; height: 40px; border-radius: 50px; color: #fbf6f8; line-height: 40px; text-align: left;}
#settings-panel ul li a.set {color: #212322; background-color: #fbf6f8;}
#settings-panel p {float: left; width: 270px; text-align: left; margin: 10px 0 0 15px;}
#settings-panel .switch {display: inline-block; float: none;}
#settings-panel img.disclosure {padding: 10px; float: right;}
#settings-panel img.cycle-left {display: inline; padding-left: 15px;}
#settings-panel img.cycle-right {display: inline;}
.speed-slider {-webkit-appearance: none; position: relative; width: 60%; height: 2px; border-radius: 5px; background: #d3d3d3; outline: none; -webkit-transition: .2s; transition: opacity .2s;}
.speed-slider::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 25px; height: 25px; border-radius: 50%; background: #dc4f55; cursor: pointer;}
.speed-slider::-moz-range-thumb {width: 25px; height: 25px; border-radius: 50%; background: #4CAF50; cursor: pointer;}
#settings-panel p.speed {display: inline-block; width: 20%; padding-top: 10px; margin: 5px 0 15px 40px;}
#settings-panel p.distance {width:100px;}
#settings-panel ul.segmented-control {display: inline-table; width: 60%; margin: 0; padding: 0;}
#settings-panel ul.segmented-control li {display: table-cell; margin: 0; padding: 0; color: #cc5959; list-style-type: none; font-size: 12px;}
#settings-panel ul.segmented-control li:first-child label {border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
#settings-panel ul.segmented-control li:last-child label {border-top-right-radius: 30px; border-bottom-right-radius: 30px;}
#settings-panel ul.segmented-control li.active label {color: #f5f5f5; background-color: #cc5959;}
#settings-panel ul.segmented-control label {display: block; margin: 0 -1px -1px 0; padding: 1em .25em; border: 1px solid #ddd; text-align: center; cursor: pointer;}
#settings-panel ul.segmented-control label:hover {background: #fafafa;}
#settings-panel #about-cyclestreets {margin: 10px 0 0 15px;}

#about-panel {display: none; height: 630px; width: calc(100% - 40); overflow-y: scroll;}
#about-panel h2 {display: inline; width: 100px; margin: 0 0 0 27%; text-align: center;}
#about-panel h3 {width: 100%; text-align: left; margin: 25px 0 0 0;}
#about-panel p {padding: 0; margin: 15px 0 0 0; line-height: 22px;}

#ride-tracker-panel {display: none; height: 200px;}
#ride-tracker-panel a {display: none;}
#ride-tracker-panel a.enabled {display: inline;}
#ride-tracker-panel .handle {margin: 0 10%;}
#ride-tracker-panel.tracking {background-color: #212322; opacity: .85;}
#ride-tracker-panel.tracking h2 {color: #fbf6f8;}
#ride-tracker-panel.tracking h3 {color: #fbf6f8;}
#ride-tracker-panel.tracking h4 {color: #c4c1c2;}
#ride-tracker-panel.tracking h5 {color: #fbf6f8;}
#ride-tracker-panel.tracking img {display: none;}
#ride-tracker-panel.tracking a img {display: inline;}
#ride-tracker-panel h2, h3, h5 {color: #21232;}
#ride-tracker-panel h2 {display: inline; width: 100px; margin: 0 0 0 15%; text-align: center;}
#ride-tracker-panel h3 {width: 100%; text-align: center; font-size: 45px; margin: 25px 0 0 0;}
#ride-tracker-panel h4 {width: 100%; text-align: center; font-size: 20px; font-weight: normal; margin: 5px 0 0 0; color: #8e8c8c;}
#ride-tracker-panel h5 {display: inline-block; width: 45%; text-align: center; font-size: 20px; margin: 20px 0 0 0; padding: 0;}
#ride-tracker-panel h6 {display: inline-block; width: 45%; text-align: center; font-size: 15px; font-weight: normal; margin: 8px 0 0 0; padding: 0; color: #8e8c8c;}

#my-rides-panel {display: none; padding: 0; padding-top: 20px; width: 100%; height: 80%;}
#my-rides-panel h2 {margin-left: 95px;}
#my-rides-panel img.handle {margin: 0 14%;}
#my-rides-panel hr {width: 100%;}
#my-rides-panel ul {margin: 0; padding: 0; width: 100%; overflow-y: scroll;}
#my-rides-panel ul li {display: inline-block; margin: 0; padding: 0 0 10px 0; width: 100%; list-style: none;}
#my-rides-panel h3 {display: inline-block; width: 40%; margin: 10px 0 0 15px; padding: 0; text-align: left;}
#my-rides-panel p.datetime {display: inline-block; width: 50%; margin: 0; padding: 0; text-align: right; color: #8e8c8c;}
#my-rides-panel p.description {display: block; margin: 10px 0 0 15px; padding: 0; color: #8e8c8c;}
#my-rides-panel ul li img {display: inline; margin: 10px 0 0 15px;}
#my-rides-panel ul li p {display: inline-block; margin: 0; padding: 0 0 0 5px;}

#ride-info-panel {display: none; padding: 20px; width: calc(100% - 40); height: 300px;}
#ride-info-panel h2 {margin-left: 32%;}
#ride-info-panel img.handle {margin: 0 0 0 23%;}
#ride-info-panel ul {margin: 0; padding: 0; width: 100%; overflow-y: scroll;}
#ride-info-panel ul li {display: inline-block; margin: 0; padding: 0 0 10px 0; width: 100%; list-style: none;}
#ride-info-panel ul li h3 {display: inline-block; width: 40%; margin: 15px 0 0 0; padding: 0; text-align: left;}
#ride-info-panel ul li p.datetime {display: inline-block; width: 50%; margin: 0; padding: 0; text-align: right; color: #8e8c8c;}
#ride-info-panel ul li p.description {display: block; margin: 10px 0 15px 0; padding: 0; color: #8e8c8c;}
#ride-info-panel ul li img {width: 24px; padding: 0; float: left;}
#ride-info-panel ul li ul li p.classification {color: #8e8c8c;}

#feedback-panel {display: none; padding: 20px; width: calc(100% - 40); height: 180px;}
#feedback-panel h2 {margin-left: 23%;}
#feedback-panel img.handle {margin: 0 0 0 13%;}
#feedback-panel label {display: inline-block; width: 30%; margin-top: 20px;}
#feedback-panel input {display: inline-block; width: 200px; height: 18px; line-height: 18px; margin-top: 10px; padding: 10px;}
#feedback-panel textarea {display: inline-block; width: 200px; margin-top: 10px; padding: 10px;}

#add-ride-details-panel {display: none; padding: 20px; width: calc(100% - 40); height: 180px;}
#add-ride-details-panel ul {margin: 0; padding: 0; width: 100%;}
#add-ride-details-panel ul li {display: inline-block; margin: 0; padding: 0 0 10px 0; width: 100%; list-style: none;}
#add-ride-details-panel h2 {margin-left: 27%;}
#add-ride-details-panel img.handle {margin: 0 0 0 20%;}
#add-ride-details-panel ul li label {display: inline-block; width: 20%; margin-top: 20px;}
#add-ride-details-panel ul li select {display: inline-block; width: 70%; margin: 10px 0 0 0; padding: 10px;}
#add-ride-details-panel ul li textarea {display: inline-block; width: 70%; margin-top: 10px; padding: 10px;}

#show-tracked-ride-panel {display: none; padding: 0; padding-top: 20px; width: 100%; height: 150px;}
#show-tracked-ride-panel h2 {margin-left: 70px;}
#show-tracked-ride-panel img.handle {margin: 0 14%;}
#show-tracked-ride-panel ul {margin: 0; padding: 0; width: 100%; overflow-y: scroll;}
#show-tracked-ride-panel ul li {display: inline-block; margin: 0; padding: 0 0 10px 0; width: 100%; list-style: none;}
#show-tracked-ride-panel h3 {display: inline-block; width: 40%; margin: 10px 0 0 15px; padding: 0; text-align: left;}
#show-tracked-ride-panel p.datetime {display: inline-block; width: 50%; margin: 0; padding: 0; text-align: right; color: #8e8c8c;}
#show-tracked-ride-panel p.description {display: block; margin: 10px 0 0 15px; padding: 0; color: #8e8c8c;}
#show-tracked-ride-panel ul li img {display: inline; margin: 10px 0 0 15px;}
#show-tracked-ride-panel ul li p {display: inline-block; margin: 0; padding: 0 0 0 5px;}

#ride-notification {display: none; position: relative; margin: 20px 7.5%; padding: 10px; width: 80%; height: 60px; border-radius: 8px; transition: none;}
#ride-notification img {height: 30px; width: 30px; background-color: #dc4f55; border-radius: 5px; padding: 15px; margin-right: 10px; float: left}
#ride-notification p {display: inline-block; margin: 0 0 0 10px;}
#ride-notification p.direction {width: 200px; margin-top: 10px; font-size: 17px;}
#ride-notification p.time {color: #dc4f55; margin-top: 10px; font-size: 14px;}
#ride-notification p.distance {color: #8e8c8c; font-size: 14px;}