/* Typography */
h1 {font-family: 'Ropa Sans', sans-serif;}
h2, h3, h4, h5, h6, body, input, select, textarea, label {font-family: 'Josefin Sans', sans-serif; color: #212322;}
input, select, textarea {font-size: 15px;}
/* Nav */
nav {height: calc(100% - 20px); display: none; width: 70%; max-width: 300px; position: fixed; z-index: 20; padding-top: 20px; top: 0; left: 0; background-color: #2d2e2e; overflow-x: hidden; overflow-y: scroll; opacity: 0.95;}
nav ul {margin: 0 20px; padding: 0; list-style: none;}
nav ul ul {display: none; margin: 0;}
nav ul ul a, nav ul ul li label {color: #c5c2c3;}
nav ul li label {color: #fbf6f8;}
nav ul ul li {padding: 10px 0;}
nav ul input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;} /* Hide the browser's default checkbox */
nav ul ul li label {font-size: 16px; padding: 12px 0 12px 38px;}
nav li {background: left no-repeat;}
nav li a {font-size: 20px; transition: transform .4s;}
nav li a:hover {transform: scale(1.03);}
nav li.journeyplanner {background-image: url('/images/icon-jp-red.svg');}
nav li.photomap {background-image: url('/images/icon-photomap-red.svg');}
nav li.pois {background-image: url('/images/icon-places-red.svg');}
nav li.ridetracker {background-image: url('/images/icon-ride-track-red.svg');}
nav li.data {background-image: url('/images/icon-data-red.svg'); background-position: 0 8px;}
nav ul li ul li label {display: inline-block; width: 212px; padding: 2.5px 0 2.5px 38px; }
nav li.enabled a, nav ul li ul li.enabled label {background: url('/images/icon-view-pass-on-16x16.svg') right no-repeat;}
nav a {padding: 12px 38px; text-decoration: none; color: #fbf6f8; display: block; transition: 0.3s;}
nav a, nav label {transition: 0.3s;}
nav a:hover, nav label:hover {color: #cc5959;}
nav hr {color: #b1afb1; margin-left: 0; width: 50%;}
nav #secondary-menu {padding-bottom: 70px;}
nav #secondary-menu li a {font-size: 16px; color: #c5c2c3;}
nav #secondary-menu li a:hover {color: #cc5959;}
nav .badge-row {display: flex;}
nav .text-column {width: 80%;}
nav .badge-column {width: 20%;}
nav .blog-badge {position: relative; margin: 0; padding: 0;}
nav .blog-badge[data-badge]:after {content: attr(data-badge); position: absolute; right: 20px; font-size: .7em; background: #cc5959; color: white; width: 18px; height: 18px; text-align: center; line-height: 18px; border-radius: 50%; box-shadow: 0 0 1px #333;}
nav #nav-footer {position: fixed; bottom: 0; height: 50px; width: 100%; padding: 10px; background-color: #212323; color: #b1afb1;}
nav #nav-footer .cyclestreets-logo {float: left; width: 50px; height: 50px;}
nav #nav-footer h6, nav #nav-footer p, nav #nav-footer a {margin: 0 0 0 40px;}
nav #nav-footer .logo-text {padding: 3px 0 5px 20px; color: #e1dde0; font-size: 18px; font-weight: bold; font-variant: small-caps;}
nav #nav-footer .logo-description {padding: 0 0 5px 20px; font-size: 9px; font-weight: lighter;}

/*
 * Main UI
 */

#map {position:absolute; top: 0; bottom: 0; left: 0; width:100%;}

/* Main UI icons and input boxes */
.ui-button {display: block; position: fixed; width: 50px; height: 50px; line-height: 50px; border: 0 solid #f5f5f5; border-radius: 50%; background: #f5f5f5; text-align: center; box-shadow: 0 0 3px gray; transition: transform .2s;}
.ui-button-large {width: 65px; height: 65px; background: #cc5959; transition: transform .2s;}
.ui-button:hover, .ui-button-large:hover {transform: scale(1.1);}
#hamburger-menu {top: 20px; left: 20px;}
.mainLoadingSpinner {width: 65px; height: 65px; border-radius: 50%; display: none; position: fixed; top: 20px; left: 20px; background: linear-gradient(0deg, rgba(204, 89, 89, 0.2) 33%, #e1dde0 100%); box-sizing: border-box; animation: rotation 1s linear infinite;}
#geolocate-button {top: 30px; right: 20px; line-height: 64px;}
#geolocate-button img {margin-right: 4px;}
#glasses-icon {top: 95px; right: 20px; line-height: 53px;}
#browse-search-box {display: none; position: fixed; top: 95px; right: 20px; width: 50px; height: 50px; margin: 0; background: #f5f5f5;}
#browse-search-box.open {display: block; padding-left: 20px; padding-right: 50px; max-width: 300px; border-radius: 25px; line-height: 20px; box-shadow: 0 0 3px gray;}
#close-browse-box-icon {display: none; top: 95px; right: 20px; z-index: 1; line-height: 60px; box-shadow: none;}

/* Geocoder autocomplete */
.loader {display: none; z-index: 99; line-height: 60px; width: 48px; height: 48px; border: 5px solid #f5f5f5; border-radius: 50%; border-bottom-color: #cc5959; box-sizing: border-box; animation: rotation 1s linear infinite;}
.geocoder .loader {position: fixed; top: 95px; right: 20px;}
@keyframes rotation {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}} 
.ui-autocomplete-loading + .loader {display: inline-block;}
.ui-autocomplete {background-color: white; width: 200px; list-style: none; margin-left: 0; padding-left: 0; border-radius: 25px;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li:first-child a {padding-top: 9px;}
.ui-autocomplete li a {padding: 5px 15px 3px; display: block; color: #dc4f55;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #fbf6f8; border-radius: 25px;}
.ui-autocomplete {z-index: 100}

/*
 * Default panel styling
 */

/* Structural elements */
.panel {display: none; position: fixed; bottom: 0; left: 0; z-index: 3; width: calc(100% - 40px); padding: 15px 20px; background-color: #fbf6f8;}
.panel::before {content:url('/images/card-handle.svg'); position: absolute; top: -8px; margin: 0 calc((100% - 208px) / 2);}
.panel.red::before {content:url('/images/card-handle-red-fill.svg');}
.hidden {display: none;}

/* Standard card elements */
a {text-decoration: none; color: #dc4f55;}
a.action {position: absolute; top: 0; margin-top: 12px; padding: 10px; color: #dc4f55; text-decoration: none; border-radius: 20px;}
a.action:hover {background-color: rgba(204, 89, 89, 0.2);}
a.action.back {left: 0; margin-left: 3px;}
a.action.forward {right: 0; margin-right: 3px;}
a.action.forward.white {color: #ffffff;}
h2 {margin: 5px 0 10px 0; text-align: center; font-variant: small-caps;}
ul {margin: 0; padding: 0;}
ul li {list-style-type: none;}
ul li select {display: inline-block; margin: 2px 0; padding: 0 20px; width: calc(100% - 120px); border-radius: 25px; text-align: left; text-decoration: none; background: #dc4f55; color: #f5f5f5;}
textarea {display: inline-block; margin: 2px 0; padding: 10px 20px; height: 50px; width: calc(100% - 160px); border: none; border-radius: 25px; vertical-align: middle;}
input {margin: 5px 0; padding: 0 20px; line-height: 50px; width: calc(100% - 100px); border: none; border-radius: 25px;}
input:focus {outline: auto 2px Highlight; outline: auto 2px -webkit-focus-ring-color;}
select {-webkit-appearance: none; height: 50px;}
hr {margin-top: 10px; margin-bottom: 10px;}
.disabled {opacity: 0.5;}
.grayscale {filter: grayscale(100%); -webkit-filter: grayscale(100%);}
.zoom {transition: transform .2s;}  
.zoom:hover {transform: scale(1.1);}
.redHover {border-radius: 20px; padding: 10px;}
.redHover:hover {background-color: rgba(204, 89, 89, 0.2);}

/* iOS styled elements */
.switch {position: relative; float: right; width: 60px; height: 34px;}
.switch input {opacity: 0; width: 0; height: 0;}
.slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
.slider:before {position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s;}
input:checked + .slider {background-color: #dc4f55;}
input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
.wizard .action.forward {opacity: 0.3;}
.wizard .action.forward.enabled {opacity: 1;}

/*
 * Card specific styles
 */

/*
 * Routing and tracking panels
 */


/* Route search panel */
.panel.journeyplanner.search {height: 60px;}
.panel.journeyplanner.search.open {height: auto;}
.panel.journeyplanner.search #start {display: none;}
.panel.journeyplanner.search #getRoutes {display: none; position: absolute; right: 0; transition: transform .2s;}
.panel.journeyplanner.search #getRoutes.grayscale:hover {transform: scale(1.0);}
.panel.journeyplanner.search #getRoutes:hover {transform: scale(1.1);}
.panel.journeyplanner.search input {position: relative; bottom: 5px; height: 50px; width: calc(100% - 40px); margin: 10px 0; padding: 0 20px; border: 0; transition: transform .2s;}
.panel.journeyplanner.search input:hover {transform: scale(1.05);}
.panel.journeyplanner.search .loader {display: none; position: absolute; left: 27px; margin-top: 10px; margin-left: -3px; width: 38px; height: 38px;}
.panel.journeyplanner.search .ui-autocomplete-loading + .loader {display: inline-block;}
.panel.journeyplanner.search a.reorderWaypoint {display: none; position: absolute; right: 80px; margin-top: 20px;}
.panel.journeyplanner.search a.locationTracking {display: none; position: absolute; right: 115px; margin-top: 22px;}
.panel.journeyplanner.search a.removeWaypoint {display: none; position: absolute; left: 27px; margin-top: 13px;}
.panel.journeyplanner.search a.addWaypoint {display: none; position: relative; top: 50px; right: 10px;}
.panel.journeyplanner.search.open input {width: calc(100% - 120px); padding-left: 50px; transform: scale(1);}
.panel.journeyplanner.search.open a.reorderWaypoint {display: inline-block;}
.panel.journeyplanner.search.open a.removeWaypoint {display: inline-block;}
.panel.journeyplanner.search.open a.addWaypoint {display: inline-block;}
.panel.journeyplanner.search.open a.locationTracking {display: inline-block;}
.panel.journeyplanner.search.open #getRoutes {display: inline-block;}
.panel.journeyplanner.search .shortcut-icons {list-style-type: none; width: 1500px; padding: 0; margin: 0;}
.panel.journeyplanner.search .shortcut-icons {display: inline-block; overflow-x: scroll;}
.panel.journeyplanner.search .shortcut-icons li a {position: relative; float: left; width: 42px; height: 42px; line-height: 55px; margin: 5px; background: #cc5959; color: #f5f5f5;}
.panel.journeyplanner.search ul.segmented-control {display: table; width: 80%; margin: 10px 7.5%; padding: 0;}
.panel.journeyplanner.search ul.segmented-control li {display: table-cell; margin: 0; padding: 0; color: #cc5959; list-style-type: none;}
.panel.journeyplanner.search ul.segmented-control li:first-child label {border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
.panel.journeyplanner.search ul.segmented-control li:last-child label {border-top-right-radius: 30px; border-bottom-right-radius: 30px;}
.panel.journeyplanner.search ul.segmented-control li.active label {color: #f5f5f5; background-color: #cc5959;}
.panel.journeyplanner.search ul.segmented-control label {display: block; margin: 0 -1px -1px 0; padding: 7px; border: 1px solid #ddd; text-align: center; cursor: pointer; transition: transform .2s;}
.panel.journeyplanner.search ul.segmented-control label:hover {background: #fafafa; transform: scale(1.05);}
.panel.journeyplanner.search hr {width: calc(100% + 40px); margin: 10px 0 10px -20px;}
.panel.journeyplanner.search ul.recent-journeys, .panel.journeyplanner.search ul.recent-searches {max-height: 250px; overflow-y: scroll; margin-right: -35px;}
.panel.journeyplanner.search .recent-items hr {width: 100%; margin-right: -10px;}
.panel.journeyplanner.search .recent-items li {padding-right: 15px; transition: transform .2s;}
.panel.journeyplanner.search .recent-items li:hover {transform: translate(10px, 0);}
.panel.journeyplanner.search .recent-items li:hover > a {transform: translate(-10px, 0) scale(1.15);}
.panel.journeyplanner.search .recent-items li p {margin: 10px 0;}
.panel.journeyplanner.search .recent-items li p.destination {display: inline; font-size: 16px; line-height: 19px;}
.panel.journeyplanner.search .recent-items li p.address {width: 320px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.panel.journeyplanner.search .recent-items li p.distance {float: right; padding: 0 20px 0 20px; background: left no-repeat; background-image: url('/images/icon-cyclist-small.svg');}
.panel.journeyplanner.search .recent-items li p.distance, .panel.journeyplanner.search .recent-items p.address {font-size: 14px; line-height: 16px; color: #8e8c8c;}
.panel.journeyplanner.search .recent-items li a {float: right; transition: transform .2s;}
.panel.journeyplanner.search .recent-items li a:hover {transform: scale(1.12);}
.panel.journeyplanner.search .recent-items ul.recent-searches li a {padding-right: 20px;}
.panel.journeyplanner.search .recent-items ul.recent-searches li p.destination {line-height: 34px;}
/* Route speed select panel */
.panel.journeyplanner.select {max-height: 350px; transition: 0.5s;}
.panel.journeyplanner.select *:focus {outline: none;}
.panel.journeyplanner.select a.action {margin-right: -20px;}
.panel.journeyplanner.select p {margin-top: 15px; text-align: center;}
.panel.journeyplanner.select p.location {font-size: 13px; margin: 10px; padding: 0; color: #8e8c8c;}
.panel.journeyplanner.select ul.journeyStats {padding-bottom: 15px;}
.panel.journeyplanner.select #resultsTabs {max-height: 350px; padding-left: 20px; margin-top: -9px;}
.panel.journeyplanner.select #itineraries {max-height: 350px; overflow: scroll; width: calc(100% + 40px); margin-left: -20px; margin-right: -20px;}
.panel.journeyplanner.select #itineraries .ui-tabs-panel {padding-bottom: 130px;}
.panel.journeyplanner.select #itineraries .ui-tabs-panel table.itinerary {width: 100%;}
.panel.journeyplanner.select ul.ui-tabs-nav {display: table; width: 80%; margin: 10px 7.5%; padding: 0;}
.panel.journeyplanner.select ul.ui-tabs-nav li {display: table-cell; margin: 0; padding: 0; color: #cc5959; list-style-type: none;}
.panel.journeyplanner.select ul.ui-tabs-nav li:first-child label {border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
.panel.journeyplanner.select ul.ui-tabs-nav li:last-child label {border-top-right-radius: 30px; border-bottom-right-radius: 30px;}
.panel.journeyplanner.select ul.ui-tabs-nav .ui-tabs-active label {color: #f5f5f5; background-color: #cc5959;}
.panel.journeyplanner.select ul.ui-tabs-nav label {display: block; margin: 0 -1px -1px 0; padding: 1em .25em; border: 1px solid #ddd; text-align: center; cursor: pointer;}
.panel.journeyplanner.select ul.ui-tabs-nav .ui-tabs-tab:hover {background: #fafafa;}
.strategypopup {max-width: 100px; max-height: 80px; cursor: pointer;}
.strategypopup .details {background-color: #f5f5f5; padding: 5px; opacity: 0.8; border-radius: 10px; border: 2px solid;}
.strategypopup .details:hover {opacity: 1;}
.strategypopup .details p {padding: 0; margin: 0 0 5px; font-family: 'Josefin Sans', sans-serif; color: #212322;}
.strategypopup .details ul li {list-style-type: none; display: block; text-align: left;}
.strategypopup .details ul li img {display: inline-block; margin: 0 5px 0 30px; padding: 0;}
.strategypopup .details ul li p {display: inline-block; margin: 0; padding: 0; text-align: left;}
.strategypopup .mapboxgl-popup-content {width: 100px; border-radius: 10px; padding: 0; background: transparent; box-shadow: none}
.strategypopup .mapboxgl-popup-close-button {display: none;}
.strategypopup .mapboxgl-popup-content-wrapper {padding: 1%;}
.panel.journeyplanner.select .mapboxgl-popup-content .details {opacity: 0.5; border-radius: 10px;}
.panel.journeyplanner.select ul {margin: 15px 0 0 0; padding: 0;}
.panel.journeyplanner.select h2 {text-align: center; font-size: 20px;}
.panel.journeyplanner.select ul li {list-style-type: none; display: inline-block;}
.panel.journeyplanner.select ul li img {display: inline-block; margin: 0 5px 0 30px; padding: 0;}
.panel.journeyplanner.select ul li p {display: inline-block; margin: 0; padding: 0; text-align: left;}
.panel.journeyplanner.select .elevation-chart-container {position: absolute; bottom: 0; left: 0; height: 80px; width: 100%; z-index: 1;}
.panel.journeyplanner.select span.elevation {position: absolute; bottom: 15px; right: 15px; padding: 5px; color: #ffffff; background-color: #212322; opacity: .75; border-radius: 40px; line-height: 20px; z-index: 3;}
.panel.journeyplanner.select .elevation-scrubber {position: absolute; bottom: 0px; z-index: 2;}
.panel.journeyplanner.select span img {padding: 0 5px 0 0;}

/* Ridetracker specific card styles */
.panel.ridetracker.track a {display: none;}
.panel.ridetracker.track a.enabled {display: inline;}
.panel.ridetracker.track h3, div.ridetracker h4, div.ridetracker h5, div.ridetracker h6 {text-align: center;}
.panel.ridetracker.track h3 {width: 100%; font-size: 45px; margin: 25px 0 0 0;}
.panel.ridetracker.track h4 {width: 100%; font-size: 20px; font-weight: normal; margin: 5px 0 0 0; color: #8e8c8c;}
.panel.ridetracker.track h5 {display: inline-block; width: 45%; font-size: 20px; margin: 20px 0 0 0; padding: 0;}
.panel.ridetracker.track h6 {display: inline-block; width: 45%; font-size: 15px; font-weight: normal; margin: 8px 0 0 0; padding: 0; color: #8e8c8c;}
.panel.ridetracker.tracking {background-color: #212322; opacity: .85;}
.panel.ridetracker.tracking::before {display: none;}
.panel.ridetracker.tracking h2, .panel.ridetracker.tracking h3, .panel.ridetracker.tracking h5 {color: #fbf6f8;}
.panel.ridetracker.tracking h4 {color: #c4c1c2;}
.panel.ridetracker.tracking img {display: none;}
.panel.ridetracker.tracking a img {display: inline;}
.panel.ridetracker ul {margin: 0; padding: 0; width: 100%; overflow-y: scroll;}
.panel.ridetracker p.datetime {display: inline-block; width: 50%; margin: 0; padding: 0; text-align: right; color: #8e8c8c;}
.panel.ridetracker p.description {display: block; margin: 10px 0 0 0; padding: 0; color: #8e8c8c;}
.panel.ridetracker ul li img {display: inline; margin: 10px 2.5px 0 2.5px;}
.panel.ridetracker ul li p {display: inline-block; margin: 0;}
.panel.ridetracker.my-rides h3, .panel.ridetracker.show-tracked-ride h3, .panel.ridetracker.ride-info h3 {display: inline-block; width: 40%; margin: 10px 0 0 0; padding: 0; font-size: 20px; text-align: left;}
.panel.ridetracker.add-details ul li label {display: inline-block; width: 20%; margin-top: 20px;}
.panel.ridetracker.add-details ul li select {display: inline-block; width: 70%; margin: 10px 0 0 0; padding: 10px;}
.panel.ridetracker.add-details ul li textarea {display: inline-block; width: 70%; margin-top: 10px; padding: 10px;}
.panel.ridetracker.show-tracked-ride a, .panel.ridetracker.my-rides a, .panel.ridetracker.add-details a, .panel.ridetracker.ride-info a {display: inherit;}
.panel.ridetracker.ride-info ul li ul li p.classification {color: #8e8c8c;}


/*
 * Photomap and POI panels
 */

/* Photomap card */
.panel.photomap ul li label {display: inline-block; width: 100px;}
.panel.photomap p {display: inline; line-height: 35px;}
.panel.photomap hr {width: calc(100% + 40px); margin-left: -20px;}
.panel.photomap .photomapFileUploadPreview {max-width: 100%; height: auto; max-height: 400px; overflow: hidden;}
.panel.photomap .photomapFileUploadPreview img {max-width: 100%; height: auto;}
.panel.photomap.add-photo input {width: 100%;}
.panel.photomap.add-details ul li label {display: inline-block; width: 100px;}
.panel.photomap.add-details img {border-radius: 25px;}
.panel.photomap.uploading {background-color: #dc4f55;}
.panel.photomap.uploading img {margin-left: 15px; padding: 0 30%; width: 40%;}
.panel.photomap.uploading p {display: inline-block; width: 40%; margin: 10px 30%; color: #fbf6f8; text-align: center;}
.panel.photomap.uploading progress {margin: 10px 30%; width: 40%;}
.panel.photomap.uploading a {display: block; color: #c4c1c2; text-align: center;}

/* Places card */
.panel.pois {max-height: 50%;}
.panel.pois ul {overflow-y: scroll; text-align: center;}
.panel.pois ul li {display: inline-block; height: 90px; width: 80px; margin: 0 28px 15px 0; vertical-align: top;}
.panel.pois ul li input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0;} /* Hide the browser's default checkbox */
.panel.pois ul li label {display: inline-block; opacity: 0.75; width: 65px; height: 65px; margin: 2px; border: 1px solid transparent; border-radius: 50%; background: #f5f5f5; color: #212322; text-decoration: none; text-align: center; box-shadow: 0 0 3px gray;}
.panel.pois ul li input:checked ~ label {opacity: 1; background-color: #fefefe; border-color: #dc4f55}
.panel.pois ul li label img {display: block; padding: 15px;}
.panel.pois ul li label span {display: inline-block; text-align: center; word-wrap:normal; font-size: 13px; margin-top: 10px;}


/*
 * Popup panels
 */

 /* Vex dialog custom styling */
.vex.vex-theme-plain .vex-content {border-radius: 25px;}
.vex.vex-theme-plain .vex-dialog-button.vex-dialog-button-primary {border-radius: 10px; background: #cc5959;}
.vex.vex-theme-plain .vex-content {font-family: 'Josefin Sans', sans-serif;}

/* Popup card default styling */
#map .popup {display: block;} 
.popup {display: none; position: fixed; left: 0; bottom: 0; padding: 0; margin: 0 5% 20% 5%; width: 80%; max-width: 400px;}
.popup a.ui-button.close-button {position: absolute; top: 0; right: 0; margin: 10px; line-height: 60px;}

/* Photomap popup */
.popup.photomap {perspective: 1000px; background-color: transparent; height: 480px;}
.popup.photomap .popup-card {border-radius: 20px; overflow-x: hidden; background-color: #fbf6f8;}
.popup.photomap a {position: absolute; bottom: 0; margin: 20px; padding: 0; line-height: 15px; color: #dc4f55; text-decoration: none;}
.popup.photomap a.flip {margin-left: 70%; right: 0;}
.popup.photomap .flip-card-inner {position: relative; width: 100%; height: 100%; transition: transform 0.8s; transform-style: preserve-3d;}
.popup.photomap .flip-card-inner.flipped {transform: rotateY(180deg);}
.popup.photomap .flip-card-front, .flip-card-back {position: absolute; width: 100%; height: 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden;}
.popup.photomap .flip-card-front img.popup-photo {height: 85%;}
.popup.photomap .flip-card-back {transform: rotateY(180deg); background: #212322; text-align: left;}
.popup.photomap .flip-card-back img {margin: 15px;}
.popup.photomap .flip-card-back hr {width: calc(100% - 40px);}
.popup.photomap .flip-card-back ul li img {width: 30px; margin: 10px 10px 0 20px;}
.popup.photomap .flip-card-back p {display: inline-block; margin: 0; color: #fbf6f8;}
.popup.photomap .flip-card-back p.key {margin: 0 0 15px 20px; color: #c4c1c2;}

/* Places popup */
.popup.places {height: 550px; border-radius: 20px; overflow-x: hidden; background-color: #fbf6f8;}
.popup.places img.place-photo {height: 60%; padding-bottom: 10px;}
.popup.places h2 {display: inline-block; width: 50%; font-size: 30px;font-variant: normal; margin: 0 0 0 20px; text-align: left;}
.popup.places img.get-directions {float: right;}
.popup.places p {width: 90%; margin: 10px 20px;}
.popup.places ul {margin: 10px 20px; padding: 0;}
.popup.places ul li img {display: inline-block; margin: 0; padding: 0; width: 20px;}
.popup.places ul li p {margin: 10px; display: inline-block; width: 200px;}
.popup.places ul li p.phone {color: #dc4f55;}

/* System notification slide-down */
.popup.notification {position: relative; margin: 20px 7.5%; padding: 10px; width: 80%; height: 60px; border-radius: 8px; background-color: #fbf6f8; transition: none; z-index: 99;}
.popup.notification img {height: 30px; width: 30px; background-color: #fefefe; border-radius: 5px; padding: 15px; margin-right: 10px; float: left}
.popup.notification p {display: inline-block; margin: 0 0 0 10px;}
.popup.notification p.direction {width: 200px; margin-top: 10px; font-size: 17px;}
.popup.notification p.time {color: #dc4f55; margin-top: 10px; font-size: 14px;}
.popup.notification p.distance {color: #8e8c8c; font-size: 14px;}


/*
 * Account management and sign-in
 */

/* Sign-in panel specific styles */
.panel.account .loader {display: none; position: absolute; right: 5px; top: 5px; margin: 10px 10px 0 0; width: 32px; height: 32px;}
.panel.account input {width: calc(100% - 40px); margin: 5px auto;}
.panel.account h3 {width: 100%; line-height: 30px; text-align: center; margin-bottom: 0;}
.panel.account p {margin: 0 20px; padding: 0; text-align: left;}
.panel.account .create-account {position: relative; width: 50%; height: 50px; margin: 10px auto; border-radius: 50px; color: #fbf6f8;}
.panel.account img.showOrHidePassword {display: none; position: absolute; right: 40px; top: 132px;}

/* Create account specific card styles */
.wizard.account input {width: calc(100% - 40px);}
.wizard.account .panel.creating-account {background-color: #dc4f55;}
.wizard.account .panel.creating-account h1, .panel.creating-account h2, .panel.creating-account p {width: 60%; margin: 5px 20%; text-align: center; color: #fbf6f8;}
.wizard.account .panel.creating-account h1 {font-size: 32px;}
.wizard.account .panel.creating-account h2 {font-size: 14px;}
.wizard.account .panel.creating-account img.wheel {margin-left: 15px; padding: 0 30%; width: 40%;}
.wizard.account img.showOrHidePassword {display: none; position: absolute; right: 40px; bottom: 95px;}

/*
 * Settings, about, feedback, map and blog styling panels
 */

/* Settings panel */
.panel.settings h3 {width: 100%; text-align: center; margin: 10px 0;}
.panel.settings hr {width: calc(100% + 40px); margin: 5px 0 10px -20px;}
.panel.settings ul {padding: 10px;}
.panel.settings ul li img {display: inline-block; padding: 10px 0; vertical-align: middle;}
.panel.settings ul li a {display: inline-block; color: #dc4f55; text-decoration: none;}
.panel.settings ul li a.ui-button-large {position: relative; width: calc(100% - 80px); margin-left: 20px; padding: 0 15px; height: 40px; border-radius: 50px; color: #fbf6f8; line-height: 40px; text-align: left;}
.panel.settings ul li a.set {color: #212322; background-color: #fbf6f8;}
.panel.settings p {float: left; width: 270px; text-align: left; margin: 10px 0;}
.panel.settings .switch {display: inline-block; float: none;}
.panel.settings img.disclosure {padding: 12.5px; float: right;}
.panel.settings img.cycle-left {display: inline;}
.panel.settings img.cycle-right {display: inline;}
.speed-slider {-webkit-appearance: none; position: relative; width: 50%; height: 2px; border-radius: 5px; background: #d3d3d3; outline: none; -webkit-transition: .2s; transition: opacity .2s;}
.speed-slider::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 25px; height: 25px; border-radius: 50%; background: #dc4f55; cursor: pointer;}
.speed-slider::-moz-range-thumb {width: 25px; height: 25px; border-radius: 50%; background: #4caf50; cursor: pointer;}
.panel.settings p.speed {display: inline-block; width: 20%; padding-top: 10px; margin: 5px 0 15px 40px;}
.panel.settings p.distance {width: 100px;}
.panel.settings ul.segmented-control {display: inline-table; width: 60%; margin: 0 0 10px 0; padding: 0;}
.panel.settings ul.segmented-control li {display: table-cell; margin: 0; padding: 0; color: #cc5959; list-style-type: none; font-size: 12px;}
.panel.settings ul.segmented-control li:first-child label {border-top-left-radius: 30px; border-bottom-left-radius: 30px;}
.panel.settings ul.segmented-control li:last-child label {border-top-right-radius: 30px; border-bottom-right-radius: 30px;}
.panel.settings ul.segmented-control li.active label {color: #f5f5f5; background-color: #cc5959;}
.panel.settings ul.segmented-control label {display: block; margin: 0 -1px -1px 0; padding: 1em .25em; border: 1px solid #ddd; text-align: center; cursor: pointer;}
.panel.settings ul.segmented-control label:hover {background: #fafafa;}
.panel.settings #about-cyclestreets {margin-top: 10px;}

/* About panel */
.panel.about {max-height: 80%; width: calc(100% - 40px); overflow-y: scroll;}
.panel.about::before {display: none;}
.panel.about h3 {width: 100%; text-align: left; margin: 25px 0 0 0;}
.panel.about p {padding: 0; margin: 15px 0 0 0; line-height: 22px;}

/* Map style panel */
.panel.map-style ul {width: calc(100% + 40px); margin: 0 0 0 -20px; padding: 0 0 20px 20px; overflow-x: scroll; white-space: nowrap;}
.panel.map-style ul li {display: inline-block;}
.panel.map-style ul li input {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;} /* Hide the browser's default style */
.panel.map-style ul li input:checked ~ label img {border-color: #cc5959;}
.panel.map-style ul li label {display: inline-block;}
.panel.map-style ul li label img {display: block; width: 140px; height: 140px; margin: 10px; border: 1px solid transparent; border-radius: 15px;}
.panel.map-style ul li label span {display: block; text-overflow: ellipsis; text-align: center; margin: 0 auto 10px;}
.panel.map-style ul li label p {display: block; white-space: normal; width: 100px; height: 25px; font-size: 12px; margin: 0 auto; text-align: center;}

/* Feedback panel and sign-up success panel*/
.wizard.feedback .panel.feedback label {display: inline-block; width: 80px; margin-top: 20px;}
.wizard.feedback .panel.feedback input {display: inline-block; width: calc(100% - 120px); height: 18px; line-height: 18px; margin-top: 10px; padding: 10px;}
.wizard.feedback .panel.feedback textarea {display: inline-block; width: calc(100% - 120px); margin-top: 10px; padding: 10px;}
.wizard.feedback .panel.feedback-submit, .panel.logged-in {background-color: #dc4f55;}
.wizard.feedback .panel.feedback-submit h1, .panel.feedback-submit  h2, .panel.feedback-submit p, .panel.logged-in p {width: 60%; margin: 5px 20%; text-align: center; color: #fbf6f8;}
.wizard.feedback .panel.feedback-submit h1 {font-size: 32px;}
.wizard.feedback .panel.feedback-submit h2 {font-size: 14px;}
.wizard.feedback .panel.feedback-submit img.wheel, .panel.logged-in img.wheel {margin: 0 35%; padding: 0; width: 30%;}

/* Blog panel */
.panel.blog, .panel.donate {height: 90%;}
.panel.blog, .panel.donate h2 {padding-bottom: 5px;}
.panel.blog object, .panel.donate object {height: 100%; width: calc(100% + 40px); margin-left: -20px; overflow:auto;}

/* Screen-size specific adjustments */
@media screen and (max-height: 320px) {
 .panel {height: 250px; overflow-y: scroll;}
}
